@charset "utf-8";
body {
	letter-spacing: 0px;
	overflow-x: hidden;
	font-size: 12px;
	FONT-SIZE: 12px; 
	MARGIN: 0; 
	color: #626262;
	line-height: 22px;
	font-family: "Î¢ÈíÑÅºÚ", Arial;
	background-color: #f2f2f2;
}
li {
	margin-top: 8px;
	list-style: none; 
}
.center {
	margin: 0 auto;
	text-align: center
}
a {
	outline: 0;
	text-decoration: none;
	color: #333
}
.footer {
	border-top: #EF2129 2px solid;
	height: 54px;
	line-height: 54px;
	background: #3E3E3E;
	color: #fff;
	font-size: 14px;
	color: #8f8f8f;
	margin-top: 15px;
}