/*

write by wuweiwei

*/

body{
	background-color: #FFF;
	font-size: 12px;
	font-family: "Microsoft YaHei";
	padding:0;
	margin:0;
	background-color:#c1c1c1;
}
dl,dd,dt,ul,li{
	padding:0;
	margin:0;
	list-style:none;
}
.fl{
	float:left;
}
.fr{
	float: right;
}
.cb{
	clear:both;
}


.menuBar{
	margin:0 auto;
	height: 115px;
	background-color: #004161;
	position: relative;
	z-index: 200;
}
.menuBar ul.menuContext{
	width:1200px;
	margin:0 auto;
}
.menuBar li{
	float: left;
}
.menuBar li.logo{
	background-image: url(../../images/hkj2/logo.png);
	width:245px;
	height: 75px;
	margin-left:0px;
	margin-top:20px;
	margin-right: 80px;
}
.menuBar dl.menu dd{
	float: left;
	margin-left:40px;
	height: 85px;
	line-height: 85px;
	font-size:16px;
	color:#fff;
	position: relative;
}
.menuBar dl.menu dd a.level{
	display: block;
	position: relative;
	overflow: hidden;
	text-align: center;
	width:65px;
}
.menuBar dl.menu dd a span{
	display: block;
	position: absolute;
	height: 3px;
	top:0;
	background-color: #3fc7e0;
	width:100%;
	display: none;
}
.menuBar dl.menu dd a:hover span{
	display: block;
}

.help{
	position: absolute;
	top:80px;
    left: -35px;
    z-index: 120;
    padding: 5px 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    /*box-shadow: 0px 3px 3px 1px #333;*/
    width:140px;
    background-color: #004161;
    display: none;
}
.menuBar dl.menu dd:hover .help{
	display: block;
}
.help ul{
	display: block;
	overflow: hidden;
}
.help ul li{
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: block;
	width:100%;
	font-size:14px;
}
.code-box{
    position: absolute;
    z-index: 1000;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    display: none;
    width: 150px;
    margin-left: -30px;
    /*box-shadow: 0px 3px 3px 1px #333;*/
    background-color: #004161;
    line-height: 30px;
}
.menuBar dl.menu dd:hover .code-box{
	display: block;
}
.code-box span{
	display: block;
	height: 30px;
	line-height: 30px;
	font-size:14px;
}


a{
	color:#FFF;
	text-decoration: none;
	transition: all .5s;
}
a:link{
	color:#FFF;
	text-decoration: none;
}
a:active{
	color:#FFF;
	text-decoration: none;
}
a:hover{
	color:#00b6cd;
	text-decoration: none;
}

.top{
	margin:0 auto;
	height: 649px;
	background-position: center 0;
	position: relative;
	z-index: 101;
	/*background-color: #2f85e9;*/
}
.top img{
	width:100%;
	display: block;
}
.relative{
	position: absolute;
	top:660px;
	z-index: 100;
	width:100%;
}
.opportunity{
	margin:0 auto;
	height: 830px;
	background-image:url(../images/grid.png);
	overflow: hidden;
	position: relative;
}
.opportunity-content{
	margin:0 auto;
	width:1020px;
	background-image: url(../images/opportunity.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	
}
.opportunity-title{
	background-image: url(../images/text-opportunity.png);
	width:221px;
	height: 51px;
	margin:0 auto;
	margin-top:150px;
	margin-bottom: 25px;
}
.opportunity-info li{
	margin-top:30px;
	
	transition: all .6s;
}
.opportunity-info li:hover{
	transform:scale(1.1);
}
.opportunity-info li i{
	width:75px;
	height: 52px;
	border-bottom:2px solid #e3e7ed;
	font-style: normal;
	font-size: 40px;
	color:#e3e7ed;
	font-weight: bold;
	display: block;
}
.opportunity-info li label{
	height: 30px;
	line-height: 30px;
	font-size:18px;
	font-weight: bold;
	display: block;
	margin-bottom:10px;
}
.opportunity-info li span{
	display: block;
	height: 20px;
	line-height: 20px;
	font-size:14px;
	color:#626262;
	font-weight: bold;
}
.advantage{
	height:505px;
	margin:0 auto;
	background-color: #008fe7;
	background-image: url(../images/world.png);
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
}
.advantage-title{
	background-image: url(../images/text-advantage.png);
	width:177px;
	height: 54px;
	margin:0 auto;
	margin-top:50px;
	margin-bottom: 55px;
}	
.advantage-content{
	width: 1000px;
	margin:0 auto;
	overflow: hidden;
}
.advantage-content li{
	width:250px;
	float: left;
	position: relative;
}
.advantage-content li i{
	width:130px;
	height: 151px;
	margin:0 auto;
	display: block;
	margin-bottom:35px;
	position: relative;
	transition: all .6s;
}
.advantage-content li i:hover{
	transform:rotate(360deg);
}
.advantage-icon-1{
	background-image: url(../images/advantage-icon-1.png);
}
.advantage-icon-2{
	background-image: url(../images/advantage-icon-2.png);
}
.advantage-icon-3{
	background-image: url(../images/advantage-icon-3.png);
}
.advantage-icon-4{
	background-image: url(../images/advantage-icon-4.png);
}
.advantage-content li label{
	display: block;
	height: 20px;
	margin-bottom: 30px;
	text-align:center;
	color:#FFF;
	font-size: 14px;
}
.advantage-content li span{
	display: block;
	width: 80px;
	height: 4px;
	background-color:#FFF;
	margin:0 auto;
}


.contact{
	position: relative;
	margin:0 auto;
	height:497px;
	overflow: hidden;
	background-color: #090808;
	background-image: url(../images/contactBG.png);
	background-position: center;
}

.contact-title{
	position: absolute;
	background-image: url(../images/text-contact.png);
	background-position: center;
	width:174px;
	height: 44px;
	margin:0 auto;
	top:88px;
	left:50%;
	margin-left:-87px;
}
.contact-box{
	position: absolute;
	width:447px;
	height: 187px;
	border:1px solid #706e6b;
	top:37%;
	left:50%;
	margin-left:-223px;
	transition: all .5s;
}
.contact-box:hover{
	transform: rotate(-8deg);
}
.contact-innerbox{
	width:447px;
	height: 187px;
	opacity: .4;
	filter: alpha(opacity=40);
	background-color: #231f1d;
}
.contact-box-info{
	position: absolute;
	top:10px;
	width:447px;
}
.contact-box-info span{
	display: block;
	text-align: center;
	color:#fff;
	font-size: 18px;
	margin-top:10px;
	margin-bottom:10px;
}
.contact-box-info span.c-b-i-line{
	height: 4px;
	width:53px;
	background-color:#FFF;
	margin:0 auto;
}
.contact img{
	width:100%;
	display: block;
}

.bottom{
	height: 252px;
	background-color: #595a5a;
	margin:0 auto;
	overflow: hidden;
}
.bottom-content{
	width:940px;
	margin:0 auto;
}
.bottom-content li.bfirst{
	margin-top:35px;
	border-bottom:1px dashed #FFF;
	overflow: hidden;
	height: 130px;
}
.bottom-content li.bfirst i{
	float: left;
	background-image: url(../images/secondcode.png);
	width:113px;
	height: 113px;
	display: block;
	margin-left:42px;
	margin-right:15px;
}
.bottom-content li.bfirst label{
	font-size: 14px;
	float: left;
	color: #FFF;
	line-height: 30px;
}
.bottom-content li.bfirst span{
	display: block;
	float: right;
	margin-right: 90px;
	font-size: 14px;
	color: #FFF;
	line-height: 30px;
}
.bottom-content li.bsecond{
	height: 70px;
	line-height: 70px;
	text-align: center;
	font-size: 14px;
	color:#FFF;
}


.float-contact{
	position:fixed;
	top:50%;
	right:80px;
	background-image:url(../images/icon-contact.png);
	width:44px;
	height: 114px;
	z-index: 1000;
	cursor:pointer;
	transition: all 1s;
}

.float-contact:hover{
	background-image:url(../images/icon-contact-H.png);
}